@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

html,
body {
  font-family: "Fira Mono", monospace;
}

.navbar-brand {
  text-transform: uppercase;
}

.container {
  height: 800px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.login-container,
.regex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  border-radius: 2%;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.alert-container {
  width: 100%;
  height: 100%;

  text-align: center;
  background-color: crimson;
  color: white;
}

.login-container .fields-container {
  padding: 50px;
}

.regex-container .fields-container {
  padding: 50px 100px 150px 100px;
}

.regex-container .fields-container {
  display: flex;
  flex-direction: column;
}

.regex-container .form-group {
  display: flex;
  align-items: center;
}

.regex-container .form-group label {
  margin: 0;
}

.login-container input,
.login-container button {
  width: 300px;
  height: 50px;
}

.regex-container input {
  width: 100;
  height: 50px;

  margin-left: 16px;
}

.regex-container button {
  width: 100%;
  height: 50px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  margin-top: 150px;

  position: relative;
}

.regex-container textarea {
  width: 405px;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 6px 12px 6px 12px;

  resize: none;
  font-family: "Fira Mono", monospace;

  position: absolute;
}

.display-none {
  display: none;
}

.login-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  margin-bottom: 18px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #111111;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  z-index: 9999;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #ff3d00;
  width: 16px;
  height: 16px;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

u {
  cursor: pointer;
}
